* {
	outline:none;
}

body {
}

.playing {
	background-color:LightBlue;
  text-shadow:0 0 0.2em   #00FFFF,
              -0 -0 0.2em #00FFFF;
}

/*#id-audio-player {
	display: none;
}*/
button {
	border: none;
	background-color:transparent;
}
/*横条样式*/
#id-input-progressbar {
  -webkit-appearance: none;/*清除系统默认样式*/
  width: 70%;
  background: -webkit-linear-gradient(red, red) no-repeat, #ddd;/*设置左边颜色为#61bd12，右边颜色为#ddd*/
  background-size: 0% 100%;/*设置左右宽度比例*/
  height: 3px;/*横条的高度*/
}
/*拖动块的样式*/
#id-input-progressbar::-webkit-slider-thumb {
  -webkit-appearance: none;/*清除系统默认样式*/
  cursor: pointer;
  height: 26px;/*拖动块高度*/
  width: 26px;/*拖动块宽度*/
  background: red;/*拖动块背景*/
  border-radius: 50%; /*外观设置为圆形*/
  border: solid 9px #eee; /*设置边框*/
}

#id-input-volume {
  vertical-align: 50%;
  -webkit-appearance: none;/*清除系统默认样式*/
  width: 50%;
  background: -webkit-linear-gradient(red, red) no-repeat, #ddd;/*设置左边颜色为#61bd12，右边颜色为#ddd*/
  background-size: 0% 100%;/*设置左右宽度比例*/
  height: 3px;/*横条的高度*/
}

/*拖动块的样式*/
#id-input-volume::-webkit-slider-thumb {
  visibility: hidden;
  cursor: pointer;
  -webkit-appearance: none;/*清除系统默认样式*/
  height: 26px;/*拖动块高度*/
  width: 26px;/*拖动块宽度*/
  background: red;/*拖动块背景*/
  border-radius: 50%; /*外观设置为圆形*/
  border: solid 9px #eee; /*设置边框*/
}

#id-input-volume:hover::-webkit-slider-thumb {
  visibility: visible;
  cursor: pointer;
  -webkit-appearance: none;/*清除系统默认样式*/
  height: 26px;/*拖动块高度*/
  width: 26px;/*拖动块宽度*/
  background: red;/*拖动块背景*/
  border-radius: 50%; /*外观设置为圆形*/
  border: solid 9px #eee; /*设置边框*/
}



#lyricWrapper {
    height: 550px;
    overflow: hidden;
    position: relative;
    /*margin-top: 40px;*/
    color: #fff;
    top: 20px;
    left:30%;
}

#lyricContainer {
    position: relative;
    top: 130px;
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000; 
}

.current-line-1 {
    color: #ff1493;
}

#currentTime {
	font-size: 5px;
}
#allTime {
	font-size: 5px;
}

.changeButton{
  cursor: pointer;
	display: inline-block;
}


.volumeBar{
	display: inline-block;
}

.playBar {
  clear: left;
  margin-bottom: 10px;
  display: flex;
  justify-content:space-around;
	border-top: gray 1px solid;
}

.bg{
    width: 100%;
    height: 100%;
    position: relative;        
}
.bg:after{
    z-index: -9999;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('image/bgimg.jpg');
    /*background-repeat: no-repeat;*/
    opacity: 0.7;
}

#progressbar {
  flex-grow: 2;
  text-align: center;
}

.list {
  float: left;
  margin: 10px 10px 10px 5px;
  padding: 3px;
  min-height:580px;
  width: 120px;
  border: solid 1px black;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.4);
}


.iconfont, .list-cell{
  cursor: pointer;
}

#left{
  margin-left: 8px;
}